.component_link
  = link_to component_link.name, component_link.component_entity
  = best_in_place component_link, :component_type, type: :select, collection: (ComponentType::ALL.to_a)
  = best_in_place component_link, :is_many, type: :checkbox, collection: ["One", "Many"]
