- associations_by_definition(entity, []).each do |definition, associations|
  - unless entity_showed.ancestors.any? {|e| e.id == definition.associated_entity_id }
    %td
      - associations_by_entity = Hash[associations.map {|a| [a.associated_entity.id, a] }]
      - features_for_associations(associations, entity, definition).each do |feature|
        = render partial: "associations/entity", locals: {entity: feature, association: associations_by_entity[feature.id]}
