#home_page
  = render :partial => "entities/search", :locals => {field_size: 64}
  %h1 Welcome to the Encyclo
  %p The Encyclo is a general bundle of knowledge. It's purpose is to help you get information just about anything. The search form is great to look for a specific thing and the browsing is great to narrow your search or to discover and learn about new stuff.
  %p The database include a wide variety of stuff. A lot of entities who are movies, songs, recipees.. And there is a lot of document about sciences, technology, people..
  
  %h2 Get excited
  
  %h3 Have a little cold?
  %p Let's say you have some weird syndrom or something and you are wondering what you might have. You just have to search for the tag "disease" than refine you search further to look for what disease you have.
  
  %h3 Looking for a good movie..
  %p You feel like watching a good movie but there is none at the movie theater that interests you. Simply search for the tag "movie". From there you can either browse the top movie rankings and refine your search or you can build your own movie ranking and look at the suggestions offered.
  
  %h2 Get started
  
  %p On the left sidebar is the navigation. You can search for an entity by typing it's name in the text box. Don't be afraid to be generic. You can narrow it down after. There is also a navigation tree. It can be useful to navigate through the components of the entity. You can also search randomly for an entity or document to explore the website.
  
  %h2 Get involved
  
  %h3 Adding data
  %h4 Sources
  %h4 Documents
  %h4 Predicates
  %h4 Entities
  
  %h3 Coding
  
  
  %h2 Why
  
  %p We are doing this website because we believe in freedom and the power of free knowledge. We find it unacceptable and not (ca ne fait pas avance les choses) to have to buy something to learn it even if it probably worths it.
  
  %p We also are look down upon advertisement. They blurry the path to knowledge and are almost always useless.
  
  %p The only ads that you might see are a simple link to a company name that we believe in or an excellent product that you really should LEARN about.
  
  %h2 Examples
  
  %h2 More ===
  
  %h3 Want to explore the world!
  %p Nothing easier than with this site! Search for the place you would like to visit. If you don't have any idea, you can start with the world or read about travel by searching for "blog posts" that also have the tag travel.
  
  %h3 Getting hungry and feels adventurous
  %p Go to the "recipee" tag and refine your search further to find something that pleases you.
  
  %h3 Wondering how a laser works?
  %h3 Searching for a career?
  %h3 Want to learn another language?
  %h3 Want to learn a profession?
