= content_for :left_sidebar do
  Popular entities:
  - for entity in @entities
    .popular_entity_link= link_to_entity entity

#home_page
  = render :partial => "entities/search", :locals => {field_size: 64}
  %h1 Welcome to the Encyclo
  %p The Encyclo is an encyclopedic database. It's purpose is to help you get information just about anything. The search form is great to look for a specific thing and the browsing is great to narrow your search or to discover and learn about new stuff. It is design to facilitate searching and entering data without duplication.
  %p The database include a wide variety of stuff. A lot of entities who are movies, songs, recipees.. And there is a lot of document about sciences, technology, people..

  %p The main idea is that it is YOUR database. You can do everything. You are the master of your own database. All we do is keep what you are doing good and distribute it to others. In exchange, you get the changes of others users that we judge valid and pertinent. There is no such thing as an admin on The Encyclo. We judge users based on others. If you write nonsense, your credibility will fall quickly. Hence, if you write a lot of good stuff, your credibility will be really high.
  
  %p We are doing this website because we believe in freedom and the power of free knowledge. It is free in the sense that it does not cost anything, but more importantly it is free in the sense of freedom. The source code is available (feel free to contribute) and you can download the whole database (as soon as I set it up..). Also, it is and will ALWAYS be advertisement-free (in the way that they are now at least).
  
  %p We give you better results by learning from you taste when you rate something. For instance, if you say your favorite amino acid is lysine, then we might suggest you arginine or histidine. It might be more usefull for movies, games, songs... though.

  %h2 Languages
  %p You can easily change language with the dropdown select at the top. The name of entities will be in the selected language or in another language if not present. The documents will be filtered by the selected language.
  
  %h2 Structure of the database
  
  %p The primary model is called an entity and represent a concept. It is through entities that you are browsing through. Here are the components of an entity:
  
  %h3 Document
  %p A document is content and can be in any format. Generally it is text but it can be a video, a song, a website.. You can easilly add a document to an entity by adding the url of a website that is about it. You can also create one of your own just as easilly with the guide.
  
  %h3 Image
  %p Self explanitory.. You can add one by uploading it from your computer or you can paste the link of an external image.
  
  %h3 Constant
  %p A constant is a static value for the entity. It can be
  %ul
    %li A number : .. 
    %li A range : A [] mushroom is 17-19 cm tall.
    %li A string ???
  
  %h3 Association
  %p An entity has many associations with other entities. They are bidirectional. For example, you can add the actor Keanu Reeves for the movie The Matrix. By looking at The Matrix, you will see that he has Keanu Reeves has an actor. By looking at Keanu Reeves, you will see that he played in the matrix and that he is an actor. By looking at Actor, you will see that Keanu Reeves is one.
  
  
  %h3 Component
  %p A component is an entity that every subentity will have for itself. ...
