%h1 Welcome to This Site
%p The purpose of this site is to help informing you about what you are wondering about or to simply discover and learn about new stuff.
%p There is a wide variety of stuff. Like movies, songs, recipees.. to more unusual like custom warcraft 3 maps.

%h2 Why

%p We are doing this website because we believe in freedom and the power of free knowledge. We find it unacceptable and not (ca ne fait pas avance les choses) to have to buy something to learn it even if it probably worths it.

%p We also are look down upon advertisement. They blurry the path to knowledge and are almost always useless.

%p The only ads that you might see are a simple link to a company name that we believe in or an excellent product that you really should LEARN about.

%h2 Examples

%h3 Have a little cold?
%p Let's say you have some weird syndrom or something and you are wondering what you might have. You just have to search for the tag "disease" than refine you search further to look for what disease you have.

%h3 Bored at home..
%p You feel like watching a good movie but there is none at the movie theater that interests you. Simply search for the tag "movie". From there you can either browse the top movie rankings and refine your search or you can build your own movie ranking and look at the suggestions offered.

%h3 Want to explore the world!
%p Nothing easier than with this site! Search for the place you would like to visit. If you don't have any idea, you can start with the world or read about travel by searching for "blog posts" that also have the tag travel.

%h3 Getting hungry and feels adventurous
%p Go to the "recipee" tag and refine your search further to please your belly.

%h3 Wondering how a laser works?
%h3 Searching for a career?
%h3 Want to learn another language?
%h3 Want to learn a profession?
