= content_for :left_sidebar do
  Popular entities:
  - for entity in @entities
    .popular_entity_link= link_to_entity entity

#home_page
  = render :partial => "entities/search", :locals => {field_size: 64}
  %h1 Welcome to the future!

  %p The Encyclo is a structured database. It can and should hold information and content about <u>everything</u>. It is design to facilitate searching and entering data easily with no duplication.

  %p Quick example of The Encyclo efficiency: A movie has a field actors. You type Keanu Reeves is an actor for The Matrix. Then, if you check Keanu Reeves, you will see that he is an actor and that he played in the matrix. If you check actor, you will see that Keenu Reaves is one and of course you will see that The Matrix has the actor Keanu Reeves.

  %p You can easily change language with the dropdown select at the top. The name of entities will be in the selected language or in another language if not present. The documents will be filtered by the selected language.

  %p One of the main ideas is that it is <u>yours</u>. You do everything you want and we take can of sharing it and using it to serve you better. In the same way, you get what others do which is filtered based on your preferences and people opinions.
  
  %p There is no such thing as an admin on The Encyclo. We judge users based on others. If you write nonsense, your credibility will fall quickly. Hence, if you write a lot of good stuff, your credibility will be really high.
  
  %p We believe in freedom and the power of free knowledge. The source code is available (feel free to contribute) and you can download the whole database (as soon as I set it up..). Also, it is and will ALWAYS be advertisement-free (in the way that they are now at least).
  
  %p My goal is the build a website that does it all and includes all other websites. For including other websites, it rather easy. There is a LOT of websites about very specific things. Most of them you can replace by a couple of documents and components. For doing everything, all you need is to mimic an operating system. Entities are documents on the filesystem. Documents are files. To add different kind of files like videos, songs.. you simply have to add document medias.

  %p There also seems to be a correlation between the Encyclo and a programming language.. Be that might be abusing..

  %p Think about it: In theory, do you need something else than a webbrowser to do everything you're doing. 

  %p Personally I only need 2 applications: a browser and a terminal. Going on the internet on the console just doesn't work plus you need graphics nowadays.. Hence, I am building a terminal in the browser.

  %p History does not show a lot of succesfull case of great things done by opensource, but I sincerly hope that people will see the good for everyone that would come from this.

  The future of the Encyclo
  %p I imagine that it will be running on localy and simply query the database remotely. The frequently used data would be local. The distributed database would be on user's machines too..
  
  %h2 Structure of the database

  %p The primary model is called an entity and represent a concept. It is through entities that you are browsing through. Here are the components of an entity:

  %h3 Document
  %p A document is content and can be in any format. Generally it is text but it can be a video, a song, a website.. You can easilly add a document to an entity by adding the url of a website that is about it. You can also create one of your own just as easilly with the guide.
  
  %h3 Image
  %p Self explanitory.. You can add one by uploading it from your computer or you can paste the link of an external image.
  
  %h3 Constant
  %p A constant is a static value for the entity. It can be
  %ul
    %li A number : .. 
    %li A range : A [] mushroom is 17-19 cm tall.
    %li A string ???
  
  %h3 Association
  %p An entity has many associations with other entities. They are bidirectional. For example, you can add the actor Keanu Reeves for the movie The Matrix. By looking at The Matrix, you will see that he has Keanu Reeves has an actor. By looking at Keanu Reeves, you will see that he played in the matrix and that he is an actor. By looking at Actor, you will see that Keanu Reeves is one.
  
  
  %h3 Component
  %p A component is an entity that every subentity will have for itself. ...
