= form_for(@entity) do |f|
  =# text_field_with_auto_complete :entity, :new_tag_name, { :size => 6 }, { :url => tags_path(:format => :js), :method => :get, :param_name => 'search' }
  = f.text_field :new_tag_name, :size => 6
  = f.submit "Add"
