= content_tag_for :div, definition do
  = link_to definition.associated_entity.name, definition.associated_entity
  \:
  - position = 0
  - for association in associations
    = render partial: association.associated_entity, locals: {position: position += 1}
  
- if definition.entity_has_many
  %span.add_association_link{:"data-form-content" => render(partial: "associations/form", locals: {:entity => entity}), :"data-definition-id" => definition.id}= "Add"
