-# Locals
-# Entity: The entity that would hold the new association.
-# Definition: Definition is the association of entity or one of it's parent to an intermediate entity.

- definition.associated_entity.all_association_definitions(current_user).each do |intermediate_def|
  -# Intermediate_def: One of the predicate of the intermediate entity.
  -# FIXME: Why oh why isn't just associated_entity_id that works?
  - unless intermediate_def.associated_entity_id == definition.entity.id || intermediate_def.entity_id == definition.entity.id 
    .intermediate_association
      -# TODO: Add many fields if the association definition is many.
      = f.fields_for :associations, Association.new do |association_fields| # OPTIMIZE: Is Association.new needed?
        - if intermediate_def.associated_entity.is_intermediate
          = render partial: "associations/intermediate_fields", locals: {f: f, definition: intermediate_def, entity: entity}
        - else
          = intermediate_def.associated_entity.name(current_user, current_language).value + ":"
          = render partial: "associations/fields_form", locals: {f: association_fields, entity: entity, definition: intermediate_def}
