/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * = require_self
 * = require_tree . 
 * = require jquery-ui
*/

/* -------- Cheat sheet ------- */
/* .class */
/* #id */

#entity_name {
  font-size: 32;
  font-weight: bold;
}

.entity_name, .entity_name a {
  font-size: 16px;
  color: #E98C08;
  display: inline;
}

.document_description {
  color: black;
}

.rating {
  font-size: 12px;
}

.document_name {
  font-size: 14px;
  color: #E08400;
}

.tag_box, .tag_box_clicked {
  border-style: groove;
  border-width: 2px;
  border-color: gray;
}

.tag_box_clicked {
  background-color: #cfcfcf;
}

.document_type {
  display: inline;
  border-style: groove;
  border-width: 2px;
  border-color: silver;
  background-color: #fffb8f;
}

form {
  display: inline;
}

.change_entity_parent {
  display: none;
}

#left-sidebar, #content {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

#left-sidebar {
  /* background-color: black; */
  width: 200px;
}

#content {
  /* background-color: blue; */
  width: 810px;
}

#navigation {
  height: 40px;
  /* background-color: yellow; */
}

#components_values {
  margin-top: 24px;
}

.component_predicate {
  margin-top: 6px;
}

#content_sidebar, #entity {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

#content_sidebar {
  width: 240px;
}

#entity {
  width: 560px;
}

#entity_title {
  margin-bottom: 4px;
}

.document {
  margin-bottom: 6px;
}

.image {
  margin-bottom: 12px;
}

body {
  width: 1024px;
  margin: auto;
}

.users_ranking {
  font-size: 10px;
}

.current_user_ranking {
  font-size: 13px;
}

.document_name {
  display: inline;
  color: green;
  font-size: 16px;
}

.best_in_place {
  background-color: #fffb8f;
}


.best_in_place[data-activator] {
  background-color: white;
}

#user_site {
  z-index: -1;
}

.listing_image {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-right: 8px;
  margin-bottom: 10px;
}

#home_page #search_entity {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.listing_entity {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  width: 388px;
}

.definition {
  display: inline;
}

a:visited[id="entity_name"] {
  font-size: 16px;
  color: #E98C08;
}

a {
  text-decoration: none;
  color: #6495ED;
}

a:hover {
  text-decoration: underline;
}

.missing a {
  color: red;
}

.admin_area {
  background-color: #EEEEEE;
  border: 2px solid #DDDDDD;
}
