/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * = require_self
 * = require_tree . 
 * = require jquery-ui
*/

/* -------- Cheat sheet ------- */
/* .class */
/* #id */

div, span {
  font-family: "Times New Roman","Georgia","Serif";
}

.entity_name, .entity_name a {
  font-size: 18px;
  color: #E98C08;
  display: inline;
}

#entity_name, #entity_name .best_in_place a {
  font-size: 32;
  font-weight: bold;
  display: inline;
  color: #E98C08;
}

#entities {
  border-top: 2px solid gray;
}

.document_description {
  color: black;
}

form {
  display: inline;
}

.change_entity_parent {
  display: none;
}

#login_navigation {
  margin-top: 6px;
  margin-bottom: 32px;
}

#left_sidebar_navigation {
  margin-bottom: 32px;
}

.side_link {
  display: inline;
}

.logout_link {
  display: block;
}

.side_link a {
  font-size: 15px;
  color: #66a3ff;
}

.side_text {
  display: inline;
  font-size: 14px;
  color: #707070;
}

/*#top_navigation {
  height: 28px;
}*/

#left-sidebar, #content {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

#left-sidebar {
  /* background-color: black; */
  width: 200px;
}

#content {
  /* background-color: blue; */
  width: 810px;
}

#navigation {
  margin-top: 28px;
  height: 30px;
  /* background-color: yellow; */
}

#components_values {
  margin-top: 24px;
}

.component_predicate {
  margin-top: 6px;
}

#content_sidebar, #entity {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

#content_sidebar {
  width: 240px;
}

#entity {
  width: 560px;
}

#entity_title {
  margin-bottom: 4px;
}

.document {
  display: inline;
  margin-bottom: 6px;
}

.image {
  margin-bottom: 18px;
}

body {
  width: 1024px;
  margin: auto;
}

.users_ranking {
  font-size: 10px;
}

.rating {
  font-size: 13px;
}

.rating .editable {
  display: inline-block;
}

#document_title {
  font-size: 36px;
  font-weight: bold;
}

.document_name, #document_title {
  color: green;
  display: inline;
}

.document_name {
  font-size: 16px;
}

.best_in_place {
  background-color: #fffb8f;
  cursor: hand;
}

.best_in_place[data-activator] {
  background-color: white;
}

#user_site {
  z-index: -1;
}

.listing_image {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-right: 8px;
  margin-bottom: 10px;
}

#home_page #search_entity {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.listing_entity {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  width: 388px;
}

.nested_entity .listing_entity {
  width: 376px;
}

.nested_entity {
  margin-left: 12px;
}

.toggle_block_handle {
  cursor: hand;
}

.editable {
  display: inline;
}

.editable .toggle_block_handle {
  background-color: #fffb8f;
}

.definition {
  display: inline;
}

a:visited[id="entity_name"] {
  font-size: 16px;
  color: #E98C08;
}

a {
  text-decoration: none;
  color: #6495ED;
}

a:hover {
  text-decoration: underline;
}

.documents {
  display: inline;
}

#documents_listing .document_name {
  display: block;
}

.missing a {
  color: red;
}

.admin_area {
  background-color: #EEEEEE;
  border: 2px solid #DDDDDD;
}
