.association_definition
  = link_to association_definition.associated_entity.name, association_definition.associated_entity
  -# FIXME: The following does not work in both ways.
  = best_in_place association_definition, :entity_has_many, type: :checkbox, collection: ["1", "N"]
  = best_in_place association_definition, :associated_entity_has_many, type: :checkbox, collection: ["O_1", "O_N"]
