= content_for :left_sidebar do
  #browse_entities
    Browse entities
    = render :partial => trunk_entities, locals: {editable_name: false}
= render :template => "layouts/application"
= javascript_include_tag 'entities'
